@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #ea580c;
    --primary-foreground: #fff;
    --primary-hover: #f97316;

    --secondary: #9a3412;
    --secondary-foreground: #fff;
    --secondary-hover: #c2410c;

    --neutral-gray-10: #f9fafb;
    --neutral-gray-50: #f2f4f6;
    --neutral-gray-100: #e5e8eb;
    --neutral-gray-200: #d1d6db;
    --neutral-gray-300: #b0b8c1;
    --neutral-gray-400: #8b95a1;
    --neutral-gray-500: #6b7684;
    --neutral-gray-600: #4e5968;
    --neutral-gray-700: #333d4b;
    --neutral-gray-800: #242b36;
    --neutral-gray-900: #191f28;

    --secondary-blue-10: #f5f8fe;
    --secondary-blue-50: #e2ebfd;
    --secondary-blue-100: #b1cafb;
    --secondary-blue-200: #78a2f7;
    --secondary-blue-300: #4580f7;
    --secondary-blue-400: #1662f8;
    --secondary-blue-500: #0146d0;
    --secondary-blue-600: #013aad;
    --secondary-blue-700: #002b80;
    --secondary-blue-800: #001d57;
    --secondary-blue-900: #001133;

    --secondary-red-10: #fef6f6;
    --secondary-red-50: #fbdcda;
    --secondary-red-100: #f8c6c3;
    --secondary-red-200: #f39591;
    --secondary-red-300: #ed615a;
    --secondary-red-400: #e93d35;
    --secondary-red-500: #e22a21;
    --secondary-red-600: #ba231c;
    --secondary-red-700: #8c1c17;
    --secondary-red-800: #671714;
    --secondary-red-900: #4d120f;

    --status-success: #00b26b;
    --status-warning: #ffa625;
    --status-error: #e93d35;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    font-family: 'Pretendard';
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
  src:
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot');
  src:
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf')
      format('truetype');
  font-display: swap;
}
